# Visual Studio Code
.vscode/

# SQL Server
*.bak
*.trn
*.mdf
*.ndf
*.ldf

# Logs and temporary files
*.log
*.tmp
*.temp

# Operating system files
.DS_Store
Thumbs.db

# Power BI temporary files
*.pbix.autosave
~$*.pbix