# Visual Studio Code
.vscode/

# SQL Server
*.bak
*.trn
*.mdf
*.ndf
*.ldf

# Logs and temporary files
*.log
*.tmp
*.temp

# Operating system files
.DS_Store
Thumbs.db

# Power BI temporary files
*.pbix.autosave
~$*.pbix

# Python virtual environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environment variables and secrets
.env
.env.*
!.env.example
